:root {
    --fuenteprincipal: "Pixelify Sans", sans-serif;
    --azulclaro: #5D04d9;
    --azuloscuro: #03318c;
}



*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

ul {
    list-style-type: none
}

.contenedor__header {
    width: 100%;
    background-color: var(--azulclaro);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}

.contenido__header {
    display: flex;
    gap: 10px;
}

.imagen__header {
    color: red;
}

.texto__header{
    font-family: var(--fuenteprincipal);
    color: white;
}

.contenedor__main {
    width: 90%;
    margin-top: 60px;
}

.productos__titulo {
    font-family: var(--fuenteprincipal);
}

.agregar__titulo {
    font-family: var(--fuenteprincipal);
}

.contenido__main {
    display: flex;
    justify-content: space-evenly;
}

.formulario_agregar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario_agregar input::placeholder {
    font-family: var(--fuenteprincipal);
    color: var(--azuloscuro);
    padding: 10px;

}
.formulario_agregar input {
    height: 40px;
    border-radius: 25px;
    padding: 10px;
}

.formulario__botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.boton {
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-family: var(--fuenteprincipal);
}

.boton_eliminar {
    background-color: transparent;
    border: none;
    color: white;
}

.boton_enviar {
    background-color: var(--azuloscuro);
    color: white;
}

.boton_limpiar {
    background-color: transparent;
    border: solid var(--azuloscuro) 3px;
    color: var(--azulclaro);
}

.productos__contenedor {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    max-height: 700px;
}

.producto {
    background-color: var(--azulclaro);
    padding: 5px;
    height: 300px;
    width: 200px;
    border: solid black 3px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.producto_info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.producto_imagen {
    width: 90%;
    height: 200px;
    border: solid black 2px;
    border-radius: 15px;
}
.producto_nombre {
    color: white;
}

.producto_info2 {
    display: flex;
    gap: 10px;
    color: white;
    font-family: var(--fuenteprincipal);
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.contenedor__footer {
    background-color: var(--azulclaro);
    height: 150px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
}

.contenido__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.imagen__footer {
    color: red;
}

.texto_titulo {
    color: white;
    font-family: var(--fuenteprincipal);
}

.texto__footer {
    color: white;
    font-family: var(--fuenteprincipal);
}